
.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
    position: relative;
}



.modalWindow {
    position: absolute;
    background-color: #222222BB;
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: calc(64px * 4);
    text-align: center;
    background-color: gray;
    padding: 10px;
}

.content h3{
    font-weight: 700;
}

.chesses {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    border: 2px solid lightgray;
    padding: 10px;
}

.chess{
    width: 64px;
    border: 2px solid darkgrey;
}
.chess:hover {
    border: 2px solid darkred;
    cursor: pointer;
}

.chess img{
    width: 64px;
    height: 64px;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

@media all and (max-width: 720px) {
    .board{
        width: calc(48px*8);
        height: calc(48px*8);
    }
    .cell{
        width: 48px;
        height: 48px;
    }
    .cell img {
        height: 36px;
        width: 36px;
    }
    .lost {
        padding: 15px!important;
        margin-left: 25px!important;
    }
}

.black {
    background-color: darkblue;
}

.white {
    background-color: bisque;
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: skyblue;
}

.lost {
    height: calc(50vh - 60px);
    padding: 30px;
    margin-left: 50px;
    background-color: lightcoral;
}

.lost div {
    display: flex;
    justify-content: space-between;
}